<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oo.max.dndexperiencesplitter">

    <application
        android:name=".app.ExpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".launch.activity.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".menu.activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".player.activity.PlayerListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".category.activity.CategoryListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".playerpicking.activity.PickPlayersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".expsplitting.activity.MaxExpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".expsplitting.activity.SurveyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".expsplitting.activity.ResultPreviewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".history.activity.HistoryResultsActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>